# .config/dev/.env.example
# 開発用envファイル
# app.dev.tomlを上書きできる。
# APP__PATHS__DATA_DIR_PATH形式を採用

# discordのwebhookを上書き
# `,`で複数webhookを指定できる
# 通知用webhook
APP__DISCORD__NEWS_WEBHOOKS="WEBHOOK1,WEBHOOK2"
# ログ通知用webhook
APP__DISCORD__LOGS_WEBHOOKS="WEBHOOK1,WEBHOOK2"

# GeminiのAPIキー
APP__LLM__GEMINI_API_KEY="api-key"

# ""で囲うと1行判定されるため、このようにも指定できる
# 1つ目の " は = の後ろに書かないと怒られる
# APP__DISCORD__NEWS_WEBHOOKS="
#   WEBHOOK1,
#   WEBHOOK2
#   "
# APP__DISCORD__LOGS_WEBHOOKS="
#   WEBHOOK1,
#   WEBHOOK2
#   "